<nav class="navbar navbar-toggleable-sm navbar-light bg-faded rounded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Clubs catalog</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="/create">Create new club</a>
    </div>
  </div>
</nav>

