<h1>Create new club</h1>
<section class="row">
  <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
    <p *ngFor="let alert of alerts">
      <ngb-alert *ngIf="alert.isOpen" [type]="alert.type" (close)="alert.isOpen = false">{{ alert.message }}</ngb-alert>
    </p>
    <!--<ngb-alert type="success">test</ngb-alert>-->
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 class="form-control"
                 required
                 id="name"
                 name="name"
                 [ngModel]="club.name"

          >
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text"
                    class="form-control"
                    required
                    id="description"
                    rows="5"
                    name="description"
                    [ngModel]="club.description"

          ></textarea>
        </div>
        <div class="form-group">
          <label class="custom-file">
            <input type="file" id="file" class="custom-file-input btn-primary" name="file"
                   accept="image/*" (change)="fileChange($event)" [ngModel]="file" ValidateFileDirective>
            <span class="custom-file-control">{{ fileName }}</span>
          </label>
          <small class="form-text text-muted">Logo will look better if image width is at least 355px.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!form.valid">Create</button>
      </form>
  </div>
</section>
